html,
body {
    margin: 0;
    padding: 0;
    background-color: #1b1924;
    color: #fffefe;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    margin-top: 10px;
}

#img-icon {
    height: 100px;
}

#title {
    font-size: 29px;
}

#input-endorsement {
    background-color: #444158;
    color: #fffefe;
    border: none;
    height: 80px;
    width: 320px;
    border-radius: 5px;
    text-align: center;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #aaa;
}

#input-from,
#input-to {
    margin-top: 10px;
    background-color: #444158;
    color: #fffefe;
    border: none;
    height: 40px;
    width: 152px;
    margin-right: 1px;
    border-radius: 5px;
    text-align: center;
    display: inline;
}

#publish {
    background-color: #28a9f1;
    color: #1b1924;
    /* Adjusted text color */
    border-radius: 5px;
    border: none;
    width: 320px;
    margin-top: 10px;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 22px;
    font-weight: 800;
}

#publish:hover {
    background-color: #1e8ed1;
}

#endorsements {
    margin: auto;
    max-width: 320px;
    margin-top: 20px;
}

#endorsements-heading {
    text-align: center;
    margin-bottom: 10px;
}

#user-endorse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.full-message {
    background-color: #fffefe;
    color: #1b1924;
    border-radius: 2px;
    font-weight: lighter;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 320px;
    padding: 10px 0;
    margin: 5px auto;
    position: relative;
}

.full-message:hover {
    background-color: #444158;
    /* Adjusted hover color */
}

h4,
p {
    margin: 0 10px;
    padding: 4px;
    text-align: left;
}

#empty-message {
    color: #ccc;
    /* Adjusted text color */
    font-size: 14px;
}

.like-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.like-button {
    font-size: 24px;
    cursor: pointer;
    color: #ff4500;
    /* Adjusted color for unliked state */
    transition: color 0.3s ease;
}

.like-button.liked {
    color: #dc143c;
    /* Adjusted color for liked state */
}

.like-count {
    margin-left: 5px;
}